<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>
<p>has made <%= pluralize(@user.ratings.count, 'rating') %> 
<% if (@user.ratings.count > 0) %>
  (average score <%= @user.average_rating %>)
<% end %></p>

<% unless @user.ratings.count == 0 %>
<h2>ratings</h2>
<ul>
  <% @user.ratings.each do |r| %>
    <li><%= r.beer.name %> <%= r.score %> <%= link_to 'delete', rating_path(r), method: :delete %></li>
  <% end %>
</ul>
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
