<h1>Listing breweries</h1>
<p>Number of breweries: <%= @breweries.count %> </p>

<table class="table table-hover">
  <tr>
    <th><%= link_to 'Name', breweries_path(order: "name") %></th>
    <th><%= link_to 'Year', breweries_path(order: "year") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @breweries.each do |brewery| %>
  <tr>
    <td><%= link_to brewery.name, brewery %></td>
    <td><%= brewery.year %></td>
    <td><%= link_to 'Edit', edit_brewery_path(brewery), class:'btn btn-xs btn-primary' %></td>
    <td><%= link_to 'Destroy', brewery, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-xs btn-danger' if current_user.admin unless current_user.nil? %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New Brewery', new_brewery_path, class:'btn btn-xs btn-primary' %></p>
<p><%= link_to 'List all beers', beers_path %></p>
