<h2>
  <%= @brewery.name %>
  <% if not @brewery.active %>
    <span class="label label-info">retired</span>
  <% end %>
</h2>
<emp>Established at <%= @brewery.year %></emp>

<p>
  <strong>Beers:</strong>
  <%= @brewery.beers.count %>
</p>
<p>
  <% @brewery.beers.each do |b| %>
  <%= link_to b.name, b %>
  <% end %>
</p>
<p>
  <% if @brewery.ratings.empty? %>
  There is no ratings for beers of this brewery.
  <% else %>
  <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= round @brewery.average_rating %>
  <% end %>
</p>

<p><%= link_to 'Toggle activity', toggle_activity_brewery_path(@brewery.id), method: :post, class: 'btn btn-primary' %>
<%= link_to 'Edit', edit_brewery_path(@brewery), class: 'btn btn-primary' %></p>
<p><%= link_to 'Back', breweries_path %></p>
