<h2>
  <%= @brewery.name %>
  <% if not @brewery.active %>
    <span class="label label-info">retired</span>
  <% end %>
</h2>
<emp>Established at <%= @brewery.year %></emp>

<p>
  <strong>Beers:</strong>
  <%= @brewery.beers.count %>
</p>
<p>
  <% @brewery.beers.each do |b| %>
  <%= link_to b.name, b %>
  <% end %>
</p>
<p>
  <% if @brewery.ratings.empty? %>
  There is no ratings for beers of this brewery.
  <% else %>
  <%= pluralize(@brewery.ratings.count, 'rating') %>, average <%= @brewery.average_rating %>
  <% end %>
</p>


<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
