<h1>Listing beers</h1>

<table class="table table-hover">
  <tr>
    <th><%= link_to 'Name', beers_path(order:"name") %></th>
    <th><%= link_to 'Style', beers_path(order:"style") %></th>
    <th><%= link_to 'Brewery', beers_path(order:"brewery") %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beers.each do |beer| %>
  <tr>
    <td><%= beer.name %></td>
    <td><%= beer.style %></td>
    <td><%= link_to beer.brewery.name, beer.brewery %></td>
    <td><%= link_to 'Show', beer, class:'btn btn-xs btn-primary' %></td>
    <td><%= link_to 'Edit', edit_beer_path(beer), class:'btn btn-xs btn-primary' %></td>
    <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' if not current_user.nil? and current_user.admin %></td>
  </tr>
<% end %>
</table>

<p><%= link_to 'New Beer', new_beer_path, class:'btn btn-xs btn-primary' %></p>

<p><%= link_to 'List all breweries', breweries_path %></p>
