<h1><%= @place.name %></h1>
<p><%= @place.street %></p>
<p><%= @place.zip %> <%= @place.city %></p>
<iframe style="width: 400px; height: 400px" src="<%= @place.blogmap %>"></iframe>

<p><%= link_to 'Back', :back %></p>
